<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#{{ page.theme-color }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="robots" content="index,follow">
	<meta name="googlebot" content="index,follow">
	<meta name="google-site-verification" content="verification_token"><!-- Google Search Console -->
	<meta name="yandex-verification" content="verification_token"><!-- Yandex Webmasters -->
	<meta name="msvalidate.01" content="verification_token"><!-- Bing Webmaster Center -->
	<meta name="p:domain_verify" content="code_from_pinterest"><!-- Pinterest Console-->
	<meta name="norton-safeweb-site-verification" content="norton_code"><!-- Norton Safe Web -->
	<meta name="rating" content="General">
	<meta name="geo.region" content="US-MI" /><!-- geotag -->
	<meta name="geo.placename" content="Detroit" /><!-- geotag -->
	<meta property="fb:app_id" content="app_id_goes_here"><!-- facebook app id -->
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{% if page.title %}{{ page.title }}&nbsp;//&nbsp;{{ site.title }}{% else %}{{ site.title }}{% endif %}">
	<meta property="og:image" content="{{ site.url }}/assets/img/{{ page.share-image }}">
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:locale" content="en_US">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@username"><!--site's @username on twitter. Either twitter:site or twitter:site:id is required.-->
	<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}&nbsp;//&nbsp;{{ site.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}">
	<meta name="twitter:image" content="{{ site.url }}/assets/img/{{ page.share-image }}">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ site.theme-color }}">
	<meta name="msapplication-TileColor" content="{{ site.theme-color }}">
	<title>{% if page.title %}{{ page.title }}&nbsp;|&nbsp;{{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/webfont.js"></script>
	<script type="text/javascript" src="/assets/js/main.js"></script>
</head>